<div id="main" class="row container-fluid">
    <div id="settings" class="col-sm-3 col-md-2">
        <h4>
            <i class="fa fa-fw fa-gear"></i>
            Settings
        </h4>

        <form>
            <div class="form-group">
                <label>Sweep (T)</label>
                <input class="form-control" type="number" ng-model="sweep" />
            </div>

            <div class="form-group">
                <label>Width (w)</label>
                <input class="form-control" type="number" ng-model="width" />
            </div>

            <div class="form-group">
                <label>Starting angle (&theta;)</label>
                <input class="form-control" type="number" ng-model="theta" />
            </div>

            <div class="form-group">
                <label>Orientation (&omega;)</label>
                <input class="form-control" type="text" ng-model="omega" />
            </div>
        </form>
    </div>

    <div id="canvas" class="col-sm-9 col-md-10">
        <shapes ng-click="addSpiral($event)">
            <spiral ng-repeat="s in spirals track by $index"
                    sweep="{{ s.sweep }}"
                    width="{{ s.width }}"
                    theta="{{ s.theta }}"
                    omega="{{ s.omega }}"
                    cx="{{ s.cx }}"
                    cy="{{ s.cy }}">
            </spiral>
        </shapes>
    </div>
</div>
