<md-content class="md-hue-1" layout="row" layout-align="space-between center">
    <div layout="row" layout="center center" layout-padding>
        <md-button ng-click="test_edge($event)">
            Test Edge
        </md-button>

        <md-button ng-click="test_intersect($event)">
            Test Intersect
        </md-button>

        <md-button ng-click="test_radius($event)">
            Test Radius
        </md-button>

        <md-button ng-click="test_fit($event)">
            Test Fit
        </md-button>

        <md-button ng-click="test_circles($event)">
            Test circles
        </md-button>

        <md-button ng-click="test_bounding($event)">
            Test bounding
        </md-button>
    </div>
</md-content>

<md-content class="md-hue-1">
    <div>A<sub>S</sub>{{ S.getArea() }}</div>
    <div>A<sub>min</sub>{{ 3.14159265359*(S.width*(S.sweep -1))*(S.width*(S.sweep -1)) }}</div>
    <div>A<sub>max</sub>{{ 3.14159265359*(S.width*S.sweep)*(S.width*S.sweep) }}</div>
</md-content>

<md-content class="md-hue-1" layout="column" layout-padding flex>
    <svg-canvas class="canvas flex md-whiteframe-z1" stroke-width="1">

        <!-- <g stroke="black" fill="none" ng-repeat="l in getBoundaries()">
            <svg-line start="l.start" end="l.end" control="l.control" />
        </g> -->

        <!-- <g ng-repeat="s in boundingSpirals" ng-init="p = s.center" stroke="red">
            <circle ng-attr-cx="{{ p.x }}" ng-attr-cy="{{ p.y }}" r="1" />
        </g> -->

        <svg-spiral spiral="S" stroke="black" fill="none"></svg-spiral>
        <g ng-repeat="s in spirals">
            <svg-spiral spiral="s" ng-attr-stroke="{{ s.intersects(S) ? 'red' : 'green' }}" fill="none" stroke-width="2"></svg-spiral>
            <text ng-attr-x="{{ s.center.x }}" ng-attr-y="{{ s.center.y }}">S{{$index}}</text>
        </g>

        <g ng-repeat="p in points">
            <circle ng-attr-cx="{{ p.x }}" ng-attr-cy="{{ p.y }}" r="2" ng-attr-fill="{{ ['green', 'blue', 'red', 'orange', 'black'][$index % 5] }}" />
            <text ng-attr-x="{{ p.x }}" ng-attr-y="{{ p.y }}">p{{$index}}</text>
        </g>

        <g ng-repeat="c in circles">
            <circle ng-attr-cx="{{ c.center.x }}" ng-attr-cy="{{ c.center.y }}" ng-attr-r="{{ c.radius }}" ng-attr-stroke="{{ ['green', 'blue', 'red', 'orange', 'black'][$index % 5] }}" stroke-dasharray="5,5" fill="none" />
        </g>


    </svg-canvas>
</md-content>
