<md-content class="md-hue-1" layout="column" layout-padding flex>

    <svg-canvas class="canvas flex md-whiteframe-z1">

        <g stroke="black" fill="none" ng-repeat="l in getBoundaries()">

            <!-- <svg-line sx="100" sy="100" ex="200" ey="200"></svg-line>
            <svg-line sx="200" sy="200" ex="200" ey="300" cx="250" cy="250"></svg-line> -->

            <svg-line start="l.start" end="l.end" control="l.control" />
        </g>

        <g ng-repeat="s in boundingSpirals" ng-init="p = s.center" stroke="red">
            <circle ng-attr-cx="{{ p.x }}" ng-attr-cy="{{ p.y }}" r="1" />
        </g>
    </svg-canvas>

    <!-- <div class="btn-toolbar" role="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" ng-click="test_circles()">
                Test Circles
            </a>

            <a class="btn btn-default" ng-click="test_circles2()">
                Test Circles 2
            </a>

            <a class="btn btn-default" ng-click="test_spirals()">
                Test Spirals
            </a>

            <a class="btn btn-default" ng-click="test_fit(); test_fit2();">
                Test Fit
            </a>
        </div>
    </div>

    <div id="canvas">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="1000">

            <circle ng-repeat="c in input.circles track by $index"
                    ng-attr-r="{{ c.radius }}"
                    ng-attr-cx="{{ c.center.x }}"
                    ng-attr-cy="{{ c.center.y}} "
                    ng-attr-stroke="{{ c.color || 'black' }}"
                    fill="transparent" />

            <circle ng-repeat="c in output.circles track by $index"
                    ng-attr-r="{{ c.radius }}"
                    ng-attr-cx="{{ c.center.x }}"
                    ng-attr-cy="{{ c.center.y}} "
                    ng-attr-stroke="{{ c.color || 'black' }}"
                    fill="transparent"
                    stroke-dasharray="5,7"/>

            <path ng-repeat="s in input.spirals track by $index"
                  ng-attr-stroke="{{ s.color || 'black' }}"
                  ng-attr-d="{{ s.getPath() }}"
                  fill="transparent" />

            <path ng-repeat="s in output.spirals track by $index"
                  ng-attr-stroke="{{ s.color || 'black' }}"
                  ng-attr-d="{{ s.getPath() }}"
                  fill="transparent"
                  stroke-dasharray="5,7" />

          <circle ng-repeat="p in input.points track by $index"
                  ng-attr-cx="{{ p.x }}"
                  ng-attr-cy="{{ p.y}} "
                  ng-attr-stroke="{{ p.color || 'black' }}"
                  ng-attr-fill="{{ p.color || 'black' }}"
                  r="2" />

          <circle ng-repeat="p in output.points track by $index"
                  ng-attr-cx="{{ p.x }}"
                  ng-attr-cy="{{ p.y}} "
                  ng-attr-stroke="{{ p.color || 'black' }}"
                  ng-attr-fill="{{ p.color || 'black' }}"
                  r="2" />
        </svg>
    </div> -->
</md-content>
