.alert {
    position: relative;
    margin: 10px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}

.alert .close {
    font-size: 23px;
    color: inherit;
    line-height: 0.5em;
}

.floating-box {
    position: absolute;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    left: 0;
    right: auto;

    border: 1px solid transparent;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
}

.floating-box.floating-box-right {
    left: auto;
    right: 0;
}
