.btn {
    padding-left: 19px;
    padding-right: 19px;
    transition: background-size 0.2s;
    -webkit-transition: background-size 0.2s;
}

    .btn.active, .btn.disabled, .btn[disabled] {
        margin-top: 1px;
    }
    
.btn.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
}

.btn.btn-xs {
    padding-left: 8px;
    padding-right: 8px;
}

.btn-toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-group.fade,
.btn-group-vertical.fade {
    opacity: 0.2 !important;
    transition: all 0.5s;
}

.btn-group.fade:hover,
.btn-group-vertical.fade:hover {
    opacity: 1 !important;
}

.btn-group-left,
.btn-group-right {
    position: absolute;
}

    .btn-group-left {
        left: 0;
    }

    .btn-group-right {
        right: 0;
    }

/*.btn-group-vertical .btn {
    float: left;
    width: auto;
    clear: right;
}*/

    .btn-group-vertical.btn-group-right .btn {
        float: right;
    }

.switch.checked {
    background: #ff9800;
    background-image: radial-gradient(circle, #ff9800 80%, #e08600 81%);
    border-color: rgb(224, 134, 0);
    transition: background 0;
}
