.canvas {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

    .canvas.editing {
        cursor: crosshair;
    }

.spiral {
    opacity: 1;
    transition: all 0.5s;
}

    .spiral:hover path {
        cursor: pointer;
    }
