.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.context-menu {
  position: fixed;
  opacity: 0;
  width: 0;
  border-radius: 3px;
}
.context-menu.open {
  opacity: 1;
  width: 120px;
  transition: opacity 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition-duration: 200ms;
  transition-delay: 100ms;
}
.context-menu .md-button {
  border-radius: 0;
  margin: 0;
  text-align: left;
}
.context-menu .md-button:hover {
  color: rgba(255, 255, 255, 0.87);
  background-color: #283593;
}
.context-menu .md-button:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.context-menu .md-button:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.md-toolbar-tools {
  font-size: 1.2rem;
}
.md-chips {
  font-size: 1.2rem;
}
.md-chips .md-contact-avatar img {
  border: 3px solid transparent;
}
.md-chips .md-chip {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-transform: lowercase;
}
.md-chips .md-chip.md-mini {
  font-size: 0.8em;
}
.md-chips .md-chip .md-chip-remove {
  opacity: 0.3;
  width: 2.5rem;
}
.md-chips .md-chip .md-chip-remove:hover {
  opacity: 1;
}
.md-chips .md-chip .md-chip-remove md-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.md-chips .md-chip-input-container {
  display: none;
}
md-icon {
  display: inline !important;
  color: inherit !important;
  vertical-align: baseline !important;
}
.md-button {
  padding: 0 1.0rem;
  vertical-align: middle;
}
.md-button.md-mini {
  height: 3.2rem;
  width: auto;
  line-height: 3.2rem;
  padding: 0 0.8rem;
  font-size: 1.2rem;
}
.md-button.disabled,
.md-button[disabled] {
  opacity: 0.5 !important;
}
md-sidenav {
  min-width: 0 !important;
  width: auto !important;
}
md-sidenav md-content menu-link,
md-sidenav md-content menu-toggle {
  position: relative;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
md-sidenav md-content menu-link .md-button.menu-header,
md-sidenav md-content menu-toggle .md-button.menu-header {
  border-radius: 0 !important;
  margin: 0;
  text-align: left;
  width: 100%;
}
md-sidenav md-content menu-link menu-section,
md-sidenav md-content menu-toggle menu-section {
  display: block !important;
  overflow: hidden;
}
md-sidenav md-content menu-toggle .menu-header:after {
  content: "\f29e";
  font: normal normal normal 14px/1 'Material Design Iconic Font';
  font-size: 1.5em;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 0;
  margin: 0 16px;
  margin-top: -0.5em;
  cursor: pointer;
}
md-sidenav md-content menu-toggle menu-section {
  max-height: 2000px;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  transition-property: max-height;
}
md-sidenav md-content menu-toggle menu-section.ng-hide {
  max-height: 0px;
  -webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
md-sidenav md-content menu-toggle.open .menu-header:after {
  content: "\f29d";
}
.canvas {
  min-width: 640px;
  min-height: 480px;
  background: #fff;
  outline: none;
}
.canvas .editing {
  cursor: crosshair;
}
.canvas .spiral:hover path {
  cursor: pointer;
}
.canvas .border {
  fill: transparent;
  opacity: 0;
}
.canvas .border:hover {
  opacity: 1;
  stroke: #c62828;
  cursor: pointer;
}
