<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-fw fa-question-circle"></i>
        How does this thing work?
    </h4>
</div>

<div class="modal-body">

    <tabset>
        <tab heading="Components">
            <h5>The Drawing Area</h5>
            <p></p>

            <h5>Edit Mode</h5>
            <p>
                Something about edit mode...
            </p>
            <p>
                When you're finished editing, click the
                <b>'Done Editing'</b> button to exit edit mode.
            </p>
        </tab>

        <tab heading="General Actions">
            <h5>Adding Seed Spirals</h5>
            <p>
                Click on the drawing area to place seed spirals.
            </p>

        </tab>

        <tab heading="Specific Actions">
            <h5>Editing Spirals</h5>
            <p></p>

            <h5>Branching Spirals</h5>
            <p>
                Click on the drawing area to place new spirals.
            </p>
        </tab>


    </tabset>
</div>

<div class="modal-footer">
    <a class="btn btn-success" ng-click="$close()">
        Gotcha <i class="fa fa-check"></i>
    </a>
</div>
